body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.background-image {
    width: 600px;
    height: 167px;
}

.container {
    position: relative;
}

h1, .home-description {
    
    position: absolute;
    padding-left: 40px;
    color: white;
}

.home-description {
    bottom: 20px;
}




