body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  width: 600px;
  height: 167px;
}

.container {
  position: relative;
}

h1,
.home-description {
  position: absolute;
  padding-left: 40px;
  color: white;
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
}

.home-description {
  bottom: 20px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 500px;
}

.container-item {
  margin-right: auto;
  margin-left: 20px;
}
.menu-icon {
  height: 89px;
  width: 70px;
}

.add-btn {
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: 100%;
  border-style: none;
  background-color: white;
  border-color: gray;
  border: 1px solid gray;
  cursor: pointer;
}
